body {
    text-align: center;
    justify-content: center;
    margin: 230px 30px;
    background-color: #090a09;
}

h1 {
    color: aliceblue;
    font-size: 36px;
    margin-bottom: 20px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.button-class {
    background-color: #f4a261; /* Soft orange */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 22px 5px;
    cursor: pointer;
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.button-class:hover {
    background-color: #e76f51; /* Darker orange on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}

.button-class:active {
    background-color: #e76f51;
    transform: scale(1); /* Reset the scale when clicked */
}
